{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{
response.files.append(URL('static','3Dgallery/css/style.css'))
response.files.append(URL('static','css/milo.css'))
response.files.append(URL('static', '3Dgallery/js/jquery.gallery.js'))
response.files.append(URL('static', 'js/jquery.masonry.min.js'))
}}

{{extend 'layout2.html'}}

{{block center}}
<section id="dg-container">
				<div class="dg-wrapper">
					{{for movie in slider_movies:}}
					<a href="#"><img src="{{=URL('static', movie.get('poster'))}}" alt="image01"></a>
					{{pass}}
				</div>		
</section>
{{end}}

<section id="masonry-content" class="centered">
	{{for movie in list_movies:}}
	<div class="masonry-item">
		<img src="{{=URL('static', movie.get('poster'))}}" />
		<div class="movie-info">
			<div class="movie-title">{{=movie.get('title')}}</div>
			<div class="movie-plot">{{=movie.get('genre')}}</div>
		</div>
		<div class="comments">
			
		</div>
	</div>
	{{pass}}
	
</section>
<script type="text/javascript">
$(function() {
	$('#dg-container').gallery({
		autoplay	:	true
	});
	
	var bodywidth = $('body').innerWidth();
	
	//$('#masonry-container').css('width', bodywidth);
	
	var $container = $('#masonry-content');
	$container.imagesLoaded(function(){
	  $container.masonry({
	    itemSelector : '.masonry-item',
	    isAnimated: true,
	    isFitWidth: true,
	  });
	});
	
});
</script>

{{block right_sidebar}}

{{end}}

