{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{
response.files.append(URL('static', 'imageflow/imageflow.css'))
response.files.append(URL('static', 'imageflow/imageflow.js'))
response.files.append(URL('static', 'js/jquery.masonry.min.js'))
}}

{{extend 'layout2.html'}}

{{if not session.survey:}}
{{block statusbar}}
    <div class="breadcrumbs"><a href="{{=URL('default', 'index')}}">Home</a></div>
{{end}}
{{pass}}

{{block center}}
    {{if session.survey:}}
    <div class="sixteen columns center alpha omega" style="margin-bottom:20px">
      <center>You can now rate how many movies you want. You can use the search box to look for movies or you can surf by genres just clicking in a genre of a movie. We suggest you to do at least more than 5 ratings. When you are ready click the next button to go to the next step of the survey</center>
      <right>
	<form method="POST">
	  <input type="hidden" name="free_rating" value="end"/>
	  <input type="submit" value="Next"/>
	</form>
      </right>
    </div>
    {{pass}}
	<div id="myImageFlow" class="imageflow">
		{{for movie in slider_movies:}}
			<img src="{{=URL('static', movie.poster)}}" alt="{{=movie.title}}" longdesc="{{=URL('movie', 'show', args=[movie.id])}}" />
		{{pass}}
	</div>
	<div id="search">
			<form action="{{=URL('search')}}">
				<input type="text" name="s"/>
				<input type="submit" value="Search" />
			</form>	
	</div>
{{end}}
<section id="masonry-content" class="centered">
	{{for movie in list_movies:}}
	<div class="masonry-item">
		<a href="{{=URL('movie', 'show', args=[movie.get('id')])}}"><img src="{{=URL('static', movie.get('poster'))}}" /></a>
		<div class="movie-info">
			<div class="movie-title">{{=movie.get('title')}} ({{=movie.get('year')}})</div>
			{{if not movie.get('year') or movie.poster.startswith('images/unknown'):
			      schedule_movie(movie.get('id'), reviews=True)
			  pass
			}}
			<div class="genre">
				<span class="bold">Genre:</span>
				{{for rel in movie.get('movies_genres').select(cache=(cache.disk, 3600)):}}
				{{=A(rel.genre.name, _href=URL('search', vars={'genres':(rel.genre.id,)}))}}
				{{pass}}
			</div>
			<div class="ratings">
			{{if auth.is_logged_in():}}
			{{=LOAD('rating', 'index.load', args=[movie.id], ajax_trap=True)}}
			{{pass}}
			<span class="bold">Ratings:</span>
				{{=movie.ratings.count()}}
			</div>
		</div>
		<div class="comments">
			
		</div>
	</div>
	{{pass}}
	
</section>
<script type="text/javascript">
$(function() {

	var $container = $('#masonry-content');
	$container.imagesLoaded(function(){
	  $container.masonry({
	    itemSelector : '.masonry-item',
	   	columnWidth: 250,
	    isAnimated: true,
	    isFitWidth: true,
	  });
	});
	
});
</script>
<div class="container"> 
<div class="sixteen columns center">
<center>
  {{if page != 0:}}
  {{=A('Previous', _href=URL(args=[page-1], vars=request.vars))}}
  {{pass}}
  {{if items_per_page*page < max_items:}}
  {{=A('Next', _href=URL(args=[page+1], vars=request.vars))}}
  {{pass}}
</center>			     
</div>
</div>

{{block right_sidebar}}

{{end}}


