<h2>Tasks</h2>
<div class="box">
	<table>
		<tbody>
			<tr>
				<th class="col1">Completed</th>
				<th class="col2">Failed</th>
			</tr>
			<tr class="highlight">
				<td>{{=completed_n}}</td>
				<td>{{=failed_n}}</td>
			</tr>
		</tbody>
	</table>
</div>
<br/>
<h2>Recent Tracebacks</h2>
<div class="box">
<table>
  <tbody>
      {{for fail in faileds:}}
      <tr>
      <td style="text-align:left;">
          <pre>
          {{=fail.traceback}}   
          </pre>
      </td>
      </tr>
      {{pass}}
  </tbody>
</table>
</div>
<br/>
