<p class="alert tip"><span class="txt"><span class="icon"></span><strong>Last model creation date</strong> {{=date}}</span> </p>
<h2>{{=algname.split('@user')[0]}}</h2>
<div class="box" style="height: 150px;">
	<div style="padding: 20px 10px 50px;">
		<p class="text">This algorithm model has been updated last time on {{=date}}</p>
		{{=A(SPAN('Update'), _class="button", _style="margin-top:30px", callback=URL('update_algorithm', args=[algname]), target="content")}}		
	</div>
</div>
<div class="box-end"></div>
<br>
<p class="alert"><span class="txt"><span class="icon"></span>Model creation takes <b>days</b> to complete</span></p>

