<h2>My Algorithms</h2>

<div class="box">
  <table>
		<tbody>
			<tr>
				<th class="col1">Name</th>
				<th class="col2">Name Actions</th>
				<th class="col3">Type</th>
				<th class="col4">Type Actions</th>
			</tr>
			{{highlight=True}}

				{{for alg in myalg:}}
				<tr class="{{='highlight' if highlight else ''}}">
        			<td>{{=alg.algorithm_name}}</td>
        			<td>{{=alg.algorithm_name}}</td>
        			<td>{{=alg.algorithm_sharing}}</td>
        			<td>{{=alg.algorithm_sharing}}</td>
				{{highlight = not highlight}}
				{{pass}}

		</tbody>
	</table>



</div>

<br>
<div id="message">

</div>
