<h2>Contact Admin</h2>
<div class="box">
	<div style="padding: 10px 20px 50px;">
		<p class="text">For any problem or request, in this panel you can contact Admin via email.</p>
		<p class="text">Click <a href="mailto:{{=mail}}">here</a> to mail Admin</p>
		<!--{{=A(SPAN('Ask for Admin privileges'), _class="button", _style="margin-top:30px", callback=URL('asking', args=[current_id]), target = "content")}}-->
	</div>
</div>
<div class="box-end"></div>
<br>
<p class="alert"><span class="txt"><span class="icon"></span>Don't <b>spam</b> requests to admins if one is already pending!</span></p>
