<h2>Contact Admin</h2>
<div class="box">
	<div style="padding: 20px 20px 50px;">
		<p class="text">In this panel you can ask for Admin privileges.</p>
		<p class="text">If your request is approved, you can access to additional system functionalities as:</p>
		<p class="text">	- Access to an additional control panel: the Admin Dashboard</p>
		<p class="text">	- Update datasets</p>
		<p class="text">	- View, download and delete matlab matrices</p>
		<p class="text">	- Trace system errors through the bisect method</p>
		<p class="text">	- Manage user privileges</p>
		{{=A(SPAN('Ask for Admin privileges'), _class="button", _style="margin-top:30px", callback=URL('asking'), target="content")}}
	</div>
</div>
<div class="box-end"></div>
<br>
<p class="alert"><span class="txt"><span class="icon"></span>Don't <b>spam</b> privilege requests if one is already pending!</span></p>
