<h2>User Management</h2>
<div class="box">
	{{=A(SPAN('Give Admin privileges'), _class="button", _style="margin:10px; margin-left:0px; margin-top: 50px; margin-bottom: 0px", callback=URL('admin', 'prom1'), target="content")}}
	<!--{{=A(SPAN('Revoke Admin privileges'), _class="button", _style="margin:10px; margin-top: 50px; margin-bottom: 0px", callback=URL('admin', 'revk1'), target="content")}}-->
	{{=A(SPAN('Give Research privileges'), _class="button", _style="margin:10px; margin-left:0px; margin-top: 50px; margin-bottom: 0px", callback=URL('admin', 'prom2'), target='indexplus.html')}}
	<!--{{=A(SPAN('Revoke Research privileges'), _class="button", _style="margin:10px; margin-top: 50px; margin-bottom: 0px", callback=URL('admin', 'revk2'), target="content")}}-->
	
</div>
<div class="box-end"></div>
