<h2>User Management</h2>
<div class="box">
	<table>
		<tbody>
			<tr>
				<th class="col1">User ID</th>
				<th class="col2">Username</th>
				<th class="col3">Email</th>
				<th class="col4">Actions</th>
			</tr>
			{{highlight=True}}
			
			{{if not promo:}}
			
				{{for uid in promo:}}
			<tr class="{{='highlight' if highlight else ''}}">
				<td>{{=uid}}</td>
				
				<td>{{=(str(db(db.auth_user.id==uid).select(db.auth_user.first_name))).split('\n')[1] +
				(str(db(db.auth_user.id==uid).select(db.auth_user.last_name))).split('\n')[1]}}</td>
				
				<td>{{=(str(db(db.auth_user.id==uid).select(db.auth_user.email))).split('\n')[1]}}</td>
				
				<td class="action">
					<ul style="width:75px;">
						<li>{{=A('', _class="add", _title="Accept the user request", callback=URL('ok', args=[uid]), target="content")}}</li>
						<li>{{=A('', _class="delete", _title="Reject the user request", callback=URL('no', args=[uid]), target="content")}}</li>
					</ul>
				</td>
			</tr>
				{{highlight = not highlight}}
				{{pass}}
			
			{{pass}}
		</tbody>
	</table>
</div>
<br>
<div id="message">

</div>
