<h2>Public Algorithms</h2>

<div class="box">
  <table>
  	<tbody>
			<tr>
				<th class="col1">Name</th>
				<th class="col2">Model creator function</th>
				<th class="col3">Online recommender function</th>
			</tr>
			{{highlight=True}}

				{{for alg in pubalg:}}
				
				{{if (alg.count('@user'))==0:}}
				
				<tr class="{{='highlight' if highlight else ''}}">
        			<td>{{=alg}}</td>
        			<td>{{=A('', _class="edit", _title="download model creator function", _href=URL('download_mc', args=[alg.]))}}</td>
        			<!-- 
        			<td>{{=A('', _class="edit", _title="download online recommender function", _href=URL('download_or', args=[alg]))}}</td>
				-->
				<td>temp</td>
				{{highlight = not highlight}}
				
				{{pass}}
				
				{{pass}}

		</tbody>
	</table>

</div>

<br>
<div id="message">

</div>
