<h2>Upload</h2>
<div class="box">
  <table>
    <tbody>
			<tr>
				<th class="col1">Algorithm identifier name</th>
				<th class="col2">Creating-model function</th>
				<th class="col3">Recommender function</th>
				<th class="col4">Good Form Test</th>
				<th class="col5">Upload</th>
		</tbody>
	</table>
</div>
<p>
<input name="GFrules" type="button" value="Read good form rules (English)" />
<input name="GFrules" type="button" value="Regole di buona forma (Italiano)" /></p>
<br>
<div id="message">

</div>
