<h2>Upload</h2>
<div class="box">
  <table>
  	<tbody>
			<tr>
				<th class="col1">Algorithm identifier name</th>
				<th class="col2">Creating-model function</th>
				<th class="col3">Recommender function</th>
				<th class="col4">Good Form Test</th>
				<th class="col5">Upload</th>
			</tr>
			{{highlight=True}}
			<tr class="{{='highlight' if highlight else ''}}">
				<td class="name">
					<input type="text" name="textline" size="15">
				</td>
				<td class="browse">
					<input type="file" value="Browse" name="datafile" size="20">
				</td>
				<td class="browse">
					<input type="file" value="Browse" name="datafile" size="20">
				</td>
				<td class="test">
					<input type="submit" value="Run Test">
				</td>
				<td class="upload">
					<input type="submit" value="Submit">
				</td>
			</tr>
			<div>
			{{=A(SPAN('Read good form rules (English)'), _class="button", _style="margin-top:30px", callback=URL('admin', 'rules_en'), target="content")}}
			{{=A(SPAN('Regole di buona forma (Italiano)'), _class="button", _style="margin-top:30px", callback=URL('admin', 'rules_it'), target="content")}}
			</div>
			{{highlight = not highlight}}
		</tbody>
	</table>
</div>
<p>
<input name="GFrules" type="button" value="Read good form rules (English)" />
<input name="GFrules" type="button" value="Regole di buona forma (Italiano)" /></p>
<br>
<div id="message">

</div>
