<h2>Upload</h2>
<div class="box">
  <table>
  	<tbody>
			<tr>
				<th class="col1">Algorithm name</th>
				<th class="col2">Creating-model function</th>
				<th class="col3">Recommender function</th>
			</tr>
			{{highlight=True}}
			<tr class="{{='highlight' if highlight else ''}}">
				<td class="name" >
					<input type="text" name="textline" style="width:30px;" >
				</td>
				<td class="browse" >
					<input type="file" value="Browse" name="datafile" size="8" style="width:50px; height: 30px">
				</td>
				<td class="browse" >
					<input type="file" value="Browse" name="datafile" size="8" style="width:50px; height: 30px">
				</td>
			</tr>
			<br>
			
			{{highlight = not highlight}}
		</tbody>

	</table>
	<div>
	{{=A(SPAN('Read good form rules (EN)'), _class="button", _style="margin:40px; margin-bottom:10px", callback=URL('admin', 'rules_en'), target="content")}}
	{{=A(SPAN('Regole di buona forma (IT)'), _class="button", _style="margin:40px; margin-bottom:10px", callback=URL('admin', 'rules_it'), target="content")}}
	<br>
	{{=A(SPAN('Run good-form test'), _class="button", _style="margin:40px; margin-top:10px; margin-left:55px", callback=URL('gf_test'), target="content")}}
	{{=A(SPAN('Upload the algorithm'), _class="button", _style="margin:40px; margin-top:10px; margin-left:75px", callback=URL('upload_submit'), target="content")}}	
	</div>
</div>
<br>
<div id="message">

</div>
