<h2>Upload</h2>
<div class="box">
  <table>
  	<tbody>
			<tr>
				<th class="col1">Algorithm name</th>
				<th class="col2">Algorithm type</th>
				<th class="col3">Creating-model function</th>
				<th class="col4">Recommender function</th>
			</tr>
			{{highlight=True}}
			<tr class="{{='highlight' if highlight else ''}}">
				<td class="name">
					<input type="text" name="alg_name" style="width:130px; margin:5px;" required="">
				</td>
				<td class="menu" >
					<SELECT NAME=" alg_type " style="width:120px; margin:5px;" required="">
					<OPTION value=" - choose a type - "> - choose a type - </OPTION>
					<OPTION value=" collaborative " > collaborative </OPTION>
					<OPTION value=" content-based " > content-based </OPTION>
					<OPTION value= " not-personalized " > not-personalized </OPTION>
					</SELECT>
				</td>
				<td class="browse" style="position:relative">
					<input type="file" name="alg_mod" size="5" style="width:200px; height:30px; margin:5px" required="">
				</td>
				<td class="browse">
					<input type="file" name="ald_rec" size="5" style="width:200px; height:30px; margin:5px" required="">
				</td>
			</tr>
			<br>
			{{highlight = not highlight}}
		</tbody>

	</table>
	<div>
	{{=A(SPAN('Read good form rules (EN)'), _class="button", _style="margin:40px; margin-bottom:10px", callback=URL('admin', 'rules_en'), target="content")}}
	{{=A(SPAN('Regole di buona forma (IT)'), _class="button", _style="margin:40px; margin-bottom:10px", callback=URL('admin', 'rules_it'), target="content")}}
	<br>
	{{=A(SPAN('Run good-form test'), _class="button", _style="margin:40px; margin-top:10px; margin-left:55px", callback=URL('gf_test'), target="content")}}
	{{=A(SPAN('Upload the algorithm'), _class="button", _style="margin:40px; margin-top:10px; margin-left:75px", callback=URL('upload_submit'), target="2")}}	
	</div>
</div>
<br>
<div id="message">

</div>
