<h2>Upload a new custom algorithm</h2>
<div class="box">
{{=form}}  
  <div>
	{{=A(SPAN('Read good form rules (EN)'), _class="button", _style="margin:10px; margin-left:0px; margin-top: 50px", callback=URL('admin', 'rules_en'), target="content")}}
	{{=A(SPAN('Regole di buona forma (IT)'), _class="button", _style="margin:10px; margin-top: 50px", callback=URL('admin', 'rules_it'), target="content")}}
	{{=A(SPAN('Run good-form test'), _class="button", _style="margin:10px; margin-top: 50px", callback=URL('gf_test'), target="content")}}
	<br>
	<br>
	{{=A(SPAN('Upload the algorithm'), _class="button", _style="margin:10px;", callback=URL('upload_submit', args=["prova"]), target="message")}}	
	</div>
</div>
<div class="box-end"></div>
