<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-

strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Movish manager</title>
	<meta http-equiv="content-language" content="en" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="{{=URL('static','emanager')}}/images/favicon.ico" 

type="image/x-icon"/>
    <link href="{{=URL('static','emanager')}}/css/styles.css" rel="stylesheet" type="text/css" 

media="screen" />
	<!--[if lte IE 7]>
	<link href="css/styles_ie.css" rel="stylesheet" type="text/css" media="screen" />
	<![endif]-->
	<!--[if lte IE 6]>
	<link href="css/styles_ie6.css" rel="stylesheet" type="text/css" media="screen" />
	<![endif]-->
    <script type="text/javascript" src="{{=URL('static','emanager')}}/js/jquery-

1.2.6.min.js"></script>
    <script type="text/javascript" src="{{=URL('static','emanager')}}/js/ui.js"></script>
    {{include 'web2py_ajax.html'}}
</head>

<body>

<div id="wrap">
	<div id="header">
		<h1><a class="bg" href="#" title="Home"></a>Movish Manager</h1>
		<p id="status">Logged is as {{=auth.user.email}}, <a href="{{=URL('user', 

'logout')}}" title="Sign Out?">Sign Out?</a></p>
		<h2><span>Hello, this is the Researcher Dashboard!</span></h2>
		<p id="description">The Researcher Dashboard is the main panel to monitor and manage algorithms, uploadings and surveys</p>
	</div>
	<div class="flash">{{=response.flash or ''}}</div>
    <div id="sidebar">
		<ul class="items">
	    <li>{{=A('Back to movish', _href=URL('default','index'))}}</li>
            <li class="active">
            	<a href="{{=URL('index')}}" title="Dashboard">Dashboard</a>
            </li>
			<li class="subitems">
				<a href="#" title="Public Algorithms">Public Algorithms</a>
				<ul>
					{{for alg in algorithms:}}
					{{if (alg.count('@user'))==0:}}
					<li>{{=A(alg, _title=alg, callback=URL('info_algorithm', args=[alg]), target='content')}}</li>
					{{pass}}
					{{pass}}
				</ul>
			</li>
			
			<li class="subitems">
				{{=A('My Algorithms', _title="My Algorithms", callback=URL('admin', 'myalg'), target='content')}}
				<ul>
					{{for alg in algorithms:}}
					{{algline = str(db(db.uplds.algorithm_name==alg).select(db.uplds.id))}}
					{{algid = ''.join(i for i in algline if i.isdigit())}}
					{{algid2 = str(algid)}}
					{{algid3 = int(algid2)}}
								
					{{if (algid3 > 10):}}
					{{print algid3}}
					{{pass}}
					
					{{algid = 117}}
					
					{{checkline = db(db.owns.upload==int(algid)).select(db.owns.author)}}
					{{checkid = 9}}
					
					
					{{if (checkid == int(auth.user_id)):}}
					<li>{{=A(alg, _title=alg, callback=URL('info_algorithm', args=[alg]), target='content')}}</li>
					{{pass}}
					
					{{pass}}
				</ul>
			</li>


			<li>
                        	{{=A('Upload', _title="Upload", callback=URL('admin', 'upload_form'), target='content')}}
               		</li>	
			
			<li>
				{{=A('Surveys', _title="Surveys", callback=URL('admin', 'surveys'), target='content')}}
				<ul>
					<li>{{=A('Create new survey', callback=URL('admin', 'create_survey'), target='content')}}</li>
				</ul>
			</li>
			
			<li>
                        	{{=A('Contact Admin', _title="Contact Admin", callback=URL('admin', 'please'), target='content')}}
               		</li>
		</ul>
		<span class="clear"></span>
		<div id="redbox">
			<h4>Info</h4>
			<p>URM created on {{=matrices_info.get('urm', 'Unknown')}}</p><br />
			<p>ICM created on {{=matrices_info.get('icm','Unknown')}}<br /></p>
		</div>
	</div>
	<div id="content">
	{{include}}
	</div>
	<div id="footer">
	</div>
</div>

</body>
</html>
