<div class="breadcrumbs">
{{if not session.survey_stage:}}
    {{if not breadcrumbs:}}
        {{=request.function.replace('_', ' ').title()}}
    {{else:}}
	aaaaaaa
    {{pass}}
{{else:}}
    {{if session.survey_stage >= 1:}}
        <span>Demographic</span>
    {{pass}}
    {{if session.survey_stage >= 2:}}
	>
	<span>Free rating</span>
    {{pass}}
    {{if session.survey_stage >= 3:}}
	>
	<span>Catalog</span>
    {{pass}}
    {{if session.survey_stage >= 4:}}
	>
	<span>Recommendation</span>
    {{pass}}
    {{if session.survey_stage >= 5:}}
	>
	<span>Last question</span>
    {{pass}}
{{pass}}
</div>


