{{left_sidebar_enabled,right_sidebar_enabled=False,False}}

{{extend 'layout2.html'}}

{{block statusbar}}
    <div class="breadcrumbs"><a href="{{=URL('default', 'index')}}">Home</a> > <a href="{{=URL('movie', 'show')}}">Movie</a></div>
{{end}}

{{block center}}
<section id="movie">
	<img class="poster" src="{{=URL('static', movie.get('poster'))}}"/>
	<article>
		<h2 class="title">{{=movie.get('title')}} ({{=movie.year}})</h2>
		{{
			if not movie.year or not movie.poster:
				schedule_movie(movie.id, reviews=True)
			pass
		}}
		<div>
			See also in: {{=A('imdb', _href='http://www.imdb.com/title/tt{}/'.format(movie.imdb_id), _target='_blank')}}
		</div>
		{{if movie.movies_genres.count():}}
		<div>
			<h3>Genres</h3>
			{{for rel in movie.movies_genres.select():}}
				<span>{{=A(rel.genre.name, _href=URL('default', 'search', vars=dict(genres=(rel.genre.id,))))}}</span>
			{{pass}}
		</div>
		{{pass}}
		{{if movie.plot:}}
		<div>
			<h3>Plot</h3>
			<p>{{=movie.plot}}</p>
		</div>
		{{pass}}
		{{if cast:}}
		<div>
			<h3>Cast</h3>
			{{for rel in cast:}}
			<span>{{=rel.person.first_name}} {{=rel.person.last_name}}</span>
			{{pass}}
		</div>
		{{pass}}
		{{if directors:}}
		<div>
			<h3>Directors</h3>
			{{for rel in directors:}}
			<span>{{=rel.person.first_name}} {{=rel.person.last_name}}</span>
			{{pass}}
		</div>
		{{pass}}
		{{if movie.trailer:}}
		<div class="clearboth"></div>
		<div class="trailer">
			<h3>Trailer</h3>
			<div style="text-align: center;">
				<iframe width="650" height="390" src="{{='http://www.youtube.com/embed/{}'.format(movie.trailer[movie.trailer.find('v=')+2:])}}" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		{{pass}}
	</article>
</section>
<section>
	<div class="clearboth"></div>
	<h2>Comments</h2>
	{{for comment in comments:}}
	<article>
		<div>{{=comment.title}}</div>
		<div>{{=comment.text}}</div>
	</article>
	{{pass}}
</section>
{{end}}
